{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form id="registerForm" method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            {{ form.password2(class_="form-control") }}
        </div>
        <div class="g-recaptcha" data-sitekey="6LckD6EfAAAAAKqk5lcYli_Get0k-ZzNQxADIA4q"></div>
        <br/>
        <button type="submit" class="btn btn-primary btn-register" onclick="validateRecaptcha()">Register</button>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function validateRecaptcha() {
        var response = grecaptcha.getResponse();
        if(response.length === 0) {
            event.preventDefault();
            alert('Please complete the reCAPTCHA');
        }
    }
</script>
{% endblock %}
